@model My_Cookbook.ViewModels.RecipeViewModel
@{
    ViewBag.Title = "RecipeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="recipe-details">
        <div class="row">

            <div class="col-lg-6">
                <h1> @Model.Name</h1>
                <p>
                    Recipe created by: @Html.ActionLink(Model.Username, "userrecipe", "users", new { username = Model.Username }, null)
                </p>
                <p><strong>Description:</strong> @Model.Description</p>
            </div>
            <div class="col-lg-6">
                <img src="~/Content/Images/1430237-healthy-eating-life-food-photograph-style-photocase-stock-photo-large.jpeg" class="responsive" />
            </div>
        </div>

        <div class="row">
            <h3>Ingredients</h3>
            <hr style="margin-top:-5px;" />
            @foreach (var ingredient in ViewBag.IngredientsArr)
            {
                <p>- @ingredient</p>
            }

        </div>


        <div class="row">
            <h3>Directions</h3>
            <h4><strong>Prep time:</strong> @Model.PrepTime min.</h4>
            <h4><strong>Cook time:</strong> @Model.CookTime min.</h4>
            <hr style="margin-top:-5px;" />
            @foreach (var direction in ViewBag.DirectionsArr)
            {
                <p>- @direction</p>
            }
        </div>
    </div>
</div>




